@media screen and (max-width: 1199px) and (min-width: 992px){
    .partners-box{
        width: 29%;
        height: 210px;
    } 
    .persentage-number {
        right: -24%;
    }
}
@media screen and (max-width: 991px) and (min-width: 768px){
    .partners-box{
        width: 29%;
        height: 200px;
    }
    .persentage-number {
        right: -16%;
    }
}
@media screen and (max-width: 767px) and (min-width: 576px){
 .partners-box{
        width: 100%;
        height: 300px;
    }   
    .portfolio-item {
        width: 45%;
    }
    .persentage-number {
        right: -27%;
    }
}
@media screen and (max-width: 575px) and (min-width: 500px){
    .partners-box{
        width: 100%;
    }
    .portfolio-item {
        width: 98%;
    }
    .list-inline li{
        width: auto
    }
    .persentage-number {
        right: -24%;
    }
}
@media screen and (max-width: 499px) and (min-width: 426px){
    .partners-box{
        width: 100%;
    }
    .portfolio-item {
        width: 98%;
    }
    .list-inline li{
        width: auto
    }
    .persentage-number {
        right: -16%;
    }
}
@media screen and (max-width: 425px) and (min-width: 376px){
    .partners-box{
        width: 100%;
    }
    .portfolio-item {
        width: 95%;
    }
    .list-inline li{
        width: auto
    }
    .persentage-number {
        right: -6%;
    }
}
@media screen and (max-width: 375px){
    .partners-box{
        width: 100%;
    }
    .portfolio-item {
        width: 95%;
    }
    .list-inline li{
        width: auto
    }
    .persentage-number {
        right: -4%;
    }
}